/*Main CSS file*/

body {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #00303e;
  color: #f8f8f2;
}

pre {
  margin: 0;
}
p {
  margin: 0 0 8px;
}

a {
  color: #ec007c;
  text-decoration: none;
}

a:hover {
  background-color: #0096c1;
  color: #00303e;
}

.string-indent {
    display: block;
    padding-left: 58px;
    text-indent: -41px;
}

@media screen and (max-width: 640px) {
  .highlight {
    width: 370px;
  }
}

@media screen and (max-width: 400px) {
  .highlight {
    width: 230px;
  }

  .highlight span {
    margin-bottom: 12px;
    display: inline-block;
  }
}

.end_of_create {
  display: inline-block;
  margin-bottom: 25px;
}

.highlight {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.highlight pre code * {
  white-space: nowrap;    // this sets all children inside to nowrap
}
.highlight pre {
  overflow-x: auto;       // this sets the scrolling in x
}
.highlight pre code {
  white-space: pre;       // forces <code> to respect <pre> formatting
}

.highlight .def { color: #66d9ef; }
.highlight .def_name { color: #a6e22e; }
.highlight .hash_key { color: #fd971f; }
.highlight .string { color: #efe158; }
.highlight .s2 { color: #ae81ff; }
