body {

        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        height: 100px;
}

/* to make lines scroll instead of wrap */
/* from http://stackoverflow.com/a/23393920 */
.highlight pre code * {
  white-space: nowrap;    // this sets all children inside to nowrap
}
.highlight pre {
  overflow-x: auto;       // this sets the scrolling in x
}
.highlight pre code {
  white-space: pre;       // forces <code> to respect <pre> formatting
}

.highlight .no { color: teal; }
.highlight .s2 { color: #dd1144; }

